<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<main class="container mt-3">
    <div class="row w-75 mx-auto">
        <div class="col-md-1">
            <h1 class="text-left text-dark">Plants</h1>
        </div>
        <div class="col-md-11 text-right">
            <button class="btn btn-primary text-right plant-new" data-target="#myModal" data-toggle="modal"
                    type="button">
                New
            </button>
        </div>
    </div>


    <!--    <div class="row w-75 mx-auto">
            <div class="col-md-12 text-right">
                <form th:action="@{/plants/all}" th:method="get">
                    <div class="input-group  mb-3">
                        <input type="text" class="form-control w-25" id="search" placeholder="Search ..." name="search" required maxlength="20">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Button</button>
                        </div>
                    </div>
                </form>
            </div>
    </div>-->

    <table class="table  w-75 mx-auto">
        <thead>
        <tr class="row mx-auto">
            <th class="col-md-1 text-center th-sm">&nbsp;</th>
            <th class="col-md-2 text-center th-sm">#</th>
            <th class="col-md-3 text-center th-sm">#</th>
            <th class="col-md-5 text-center">Barcode <a th:class="${#strings.equals(sort, 'barcode,desc')? 'active':''}"
                                                        th:href="@{/plants/all(sort='barcode,desc')}"><i
                    class="fas fa-angle-up" style="font-size: 1.4rem;"></i></a><a
                    th:class="${#strings.equals(sort, 'barcode,asc')? 'active':''}"
                    th:href="@{/plants/all(sort='barcode,asc')}"><i class="fas fa-angle-down"
                                                                    style="font-size: 1.4rem;"></i></a>
            </th>
            <th class="col-md-1 text-center">&nbsp;-</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="plant, iter : ${plantAll}" th:if="${plantAll!=null}">
            <tr class="row mx-auto">
                <td class="col-md-1 text-center" th:if="${plant.active==true}" title="Active"><i
                        class="fas fa-check-circle color-green"></i></td>
                <td class="col-md-1 text-center" th:if="${plant.active==false}" title="Deleted"><i
                        class="fas fa-minus-circle color-red"></i></td>
                <td class="col-md-2 text-center" th:text="${page>1}? ${iter.count}+ ${page} : ${iter.count}"></td>
                <td class="col-md-3 text-center" th:text="${plant.dateAt}"></td>
                <td class="col-md-5 text-center" th:text="${plant.barcode}"></td>
                <td class="col-md-1 text-center"><a href="#"><i class="fas fa-user-edit logo-blue-color"
                                                                th:attr="pl-id=${plant.id}"></i></td>
            </tr>
        </th:block>
        <tr th:if="${plantAll==null}">
            <td colspan="2"> No Plant Available</td>
        </tr>


        <tr class="row mx-auto">
            <td class="col-md-12 text-center" th:if="${pageNumbers!=null}">
                <nav aria-label="Page navigation example w-75 mx-auto">
                    <ul class="pagination">
                        <li th:class="(${pageNumber==page} ? 'page-item active':'page-item')"
                            th:each="pageNumber : ${pageNumbers}">
                            <a class="page-link" th:href="@{/plants/all(page=${pageNumber},sort=${sort})}"
                               th:text=${pageNumber}></a>
                        </li>
                    </ul>
                </nav>

            </td>

        </tr>

        </tbody>
    </table>


    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">New Plant</h4>
                    <button class="close close-plant" data-dismiss="modal" type="button">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="alert d-none">

                    </div>

                    <form class="form w-100 mx-auto" id="form-plant" th:action="@{/plants/new}" th:method="post">

                        <div class="form-group">
                            <label class="font-weight-bold" for="barcode">Barcode</label>
                            <input class="form-control" id="barcode" maxlength="20" name="barcode"
                                   placeholder="barcode..."
                                   required type="text">
                        </div>


                        <div class="button-holder">
                            <button class="btn btn-dark save-button w-100" type="submit">Save</button>
                            <button class="btn btn-dark edit-button w-100 d-none" type="submit">EDIT</button>
                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-danger close-plant" data-dismiss="modal" type="button">Close</button>
                </div>

            </div>
        </div>
    </div>


    <!-- The Modal -->
    <div class="modal" id="myModalEdit">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edit Plant</h4>
                    <button class="close close-plant" data-dismiss="modal" type="button">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="alert d-none">

                    </div>

                    <form class="form w-100 mx-auto" id="form-plant-edit" th:action="@{/plants/new}" th:method="post">

                        <div class="form-group">
                            <label class="font-weight-bold" for="barcode">Barcode</label>
                            <input class="form-control" id="barcode" maxlength="20" name="barcode"
                                   placeholder="barcode..."
                                   required type="text">
                        </div>

                        <div class="form-group edit-field">
                            <input class="form-control" id="barcoderold" maxlength="20" name="barcodeold" required
                                   type="hidden">
                            <input class="form-control" id="id" name="id" type="hidden">
                            <label class="font-weight-bold" for="active">Status</label>
                            <select id="active" name="active">
                                <option value="true">Active</option>
                                <option value="false">Delete</option>
                            </select>
                        </div>

                        <div class="button-holder">
                            <button class="btn btn-dark save-button w-100" type="submit">Edit</button>

                        </div>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-danger close-plant" data-dismiss="modal" type="button">Close</button>
                </div>

            </div>
        </div>
    </div>


    <script src="/js/http.js"></script>
    <script>


        $(".plant-new").on('click', (ev) = > {

            $("#form-plant"
        ).trigger('reset');
        $('.alert').addClass('d-none');

        })

        $(".fa-user-edit").on('click', (ev) = > {

            let id = $(ev.target).attr("pl-id");
        //id =  223222;
        $('#myModalEdit').modal('show');
        $("#form-plant-edit").show();
        http.get("/api/plants/" + id).then((data) = > {
            const response = data.json();
        console.log(response);
        if (data.status === 200) {
            response.then(resp = > {
                $("input[name=barcodeold]"
        ).
            val(resp.barcode);
            $("input[name=barcode]").val(resp.barcode);
            $("input[name=id]").val(resp.id);
            $("select[name=active]").val(resp.active);
        })
            ;
        } else {
            responseNotFound("#form-plant-edit", response);
        }

        })
        ;
        })

        $("#form-plant").on('submit', (ev) = > {
            ev.preventDefault();
        responseNotes('plants/save', 'form-plant');
        return false;
        })
        ;

        $("#form-plant-edit").on('submit', (ev) = > {
            responseNotes('plants/edit', "form-plant-edit"
        )
        ;
        ev.preventDefault();
        return false;
        })
        ;


        $(".close-plant").on('click', (ev) = > {
            window.location.reload();
        }
        )
        ;


    </script>

</main>
<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>