<div class="open-new-form">
    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">New Product</h4>
        <button class="close close-plant" data-dismiss="modal" type="button">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <div class="alert d-none">

        </div>

        <form class="form w-100 mx-auto" id="form-product" th:action="@{/product}" th:method="post">

            <div class="form-group">
                <label class="font-weight-bold" for="name">Name</label>
                <input class="form-control" id="name" maxlength="20" name="name" placeholder="Name..." required
                       type="text">
            </div>


            <div class="button-holder">
                <button class="btn btn-dark save-button w-100" type="submit">Save</button>
                <button class="btn btn-dark edit-button w-100 d-none" type="submit">EDIT</button>
            </div>
        </form>
    </div>
    </th:block>
</div>

<div class="open-edit-form d-none">
    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">Edit Product</h4>
        <button class="close close-plant" data-dismiss="modal" type="button">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <div class="alert d-none">

        </div>

        <form class="form w-100 mx-auto" id="form-product-edit" th:action="@{/plants/new}" th:method="post">

            <div class="form-group">
                <label class="font-weight-bold" for="name">name</label>
                <input class="form-control" id="name" maxlength="20" name="name" placeholder="name..." required
                       type="text">
            </div>

            <div class="form-group edit-field">
                <input class="form-control" id="nameold" maxlength="20" name="nameold" required type="hidden">
                <input class="form-control" id="id" name="id" type="hidden">
                <label class="font-weight-bold" for="active">Status</label>
                <select id="active" name="active">
                    <option value="true">Active</option>
                    <option value="false">Delete</option>
                </select>
            </div>

            <div class="button-holder">
                <button class="btn btn-dark save-button w-100" type="submit">Edit</button>

            </div>
        </form>
    </div>
</div>



