.logout-button {
    background: transparent;
    border: none;
    font-weight: bold;
    color: #DEB408!important;
}

.logout-button:hover {
    cursor: pointer;
}

.logout-button:focus {
    outline: none;
}

.error {
    color: red;
    font-family: "Harlow Solid Italic";
}

.logo-blue-color {
    color: #5A91CC;
}


.bgr-navbar {
    background: #262626!important;
}

footer {
    background-color: #171717;
    color:#8c8989;
    font-size:13px;
}


.btn-primary {
    background:#5586BC;
}

a {
    color:#5586BC;
}

a.active {
    color: #DEB408;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #DEB408;
    border-color: #DEB408;
}


.color-green {
    color: #6FB943;
}

.color-red {
    color: red;
}

.color-yellow {
    color: #DEB408;
}
.color-blue {
    color:#5586BC;
}
