<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="fragments/head"></th:block>
<body>
<header>
    <th:block th:replace="fragments/navbar"></th:block>

</header>
<div class="container">
    <main class="mt-3">
        <div class="jumbotron bg-light">
            Plants are living things. They depend on water and light to help them grow. But how do plants find what they
            need? They get it from the world around them!

        </div>
    </main>

</div>

<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>