<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<main class="container mt-3">
    <div class="row w-75 mx-auto">
        <div class="col-md-12">
            <h1 class="text-left text-dark">Activities</h1>
        </div>

        <div class="col-md-12 text-left text-dark">
            Only for Users with Role Manager! Comming soon!
        </div>


    </div>
</main>


<th:block th:include="~{fragments/footer}"></th:block>

</body>
</html>
