<div class="open-new-form">
    <!-- Modal Header -->
    <div class="modal-header">
        <h4 class="modal-title">Activities</h4>
        <button class="close close-plant" data-dismiss="modal" type="button">&times;</button>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
        <div class="alert d-none">

        </div>

        <form class="form w-100 mx-auto" id="form-product" th:action="@{/product}" th:method="post">

            <div class="form-group">
                <label class="font-weight-bold" for="plant">Plant</label>
                <select class="form-control" id="plant" name="plant">
                    <option value=""></option>
                    <option th:each="type : ${plants}" th:text="${type.barcode}" th:value="${type.id}"></option>
                </select>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" for="product">Product</label>
                <select class="form-control" id="product" name="product">
                    <option value=""></option>
                    <option th:each="type : ${products}" th:text="${type.name}" th:value="${type.id}"></option>
                </select>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" for="quantity">Quantity (ml)</label>
                <input class="form-control" id="quantity" name="quantity" placeholder="quantity..." required
                       type="text">
            </div>

            <div class="form-group">
                <label class="font-weight-bold" for="status">Status</label>
                <select class="form-control" id="status" name="status">
                    <option th:each="type : ${status}" th:text="${type}" th:value="${type}"></option>
                </select>
            </div>

            <div class="form-group">
                <label class="font-weight-bold" for="comment">Comment</label>
                <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
            </div>

            <div class="button-holder">
                <button class="btn btn-dark save-button w-100" type="submit">Save</button>
                <button class="btn btn-dark edit-button w-100 d-none" type="submit">EDIT</button>
            </div>
        </form>
    </div>
    </th:block>
</div>




