<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body>
<header>
    <th:block th:include="~{fragments/navbar}"></th:block>
</header>

<main class="container mt-3">
    <div class="row  mx-auto">
        <div class="col-md-1">
            <h1 class="text-left text-dark">Labs</h1>
        </div>
        <div class="col-md-11 text-right">
            <button type="button" class="btn btn-primary text-right product-new" data-toggle="modal"
                    data-target="#myModal">
                New
            </button>
        </div>

        <table class="table mx-auto">
            <thead>
            <tr class="row mx-auto">
                <th class="col-md-1 text-center th-sm">#</th>
                <th class="col-md-4 text-center th-sm">Plant</th>
                <th class="col-md-4 text-center th-sm">Product</th>
                <th class="col-md-1 text-center th-sm">Quantity</th>
                <th class="col-md-2 text-center th-sm">User</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="lab, iter : ${labs}">
                <tr class="row mx-auto">
                    <td class="col-md-1 text-center" th:text="${iter.count}"></td>
                    <td class="col-md-4 text-center" th:text="${lab.plantId}"></td>
                    <td class="col-md-4 text-center" th:text="${lab.productId}"></td>
                    <td class="col-md-1 text-center" th:text="${lab.quantity}"></td>
                    <td class="col-md-2 text-center" th:text="${lab.userId}"></td>
                </tr>
                <tr class="row mx-auto" th:text="${lab.comment}"></tr>
            </th:block>
            <!--<tr th:if="${products.empty}">
                <td colspan="2"> List is empty!</td>
            </tr>-->

            </tbody>
        </table>
    </div>


    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div th:insert="labs/forms"></div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger close-plant" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</main>

<script src="/js/http.js"></script>
<script>

    $(".product-new").on('click', (ev) => {

        $("input[name=plant_id]").val('')
        $("input[name=product_id]").val('')
        $("input[name=comment]").val('')
        $("input[name=status]").val('')
        $('.alert').addClass('d-none');
        $('.open-edit-form ').addClass('d-none');
        $('.open-new-form').removeClass('d-none');
    })
    $("#form-product").on('submit', (ev) => {
        ev.preventDefault();

        const form = $("#form-product").serializeArray();
        let data = {};
        $(form).each(function (index, obj) {
            data[obj.name] = obj.value;
        });
        console.log(data);
        http.post("/api/labs/save", data)
            .then((data) => {
                const response = data.json();
                console.log("response", response);
                if (data.status === 400) {

                    response.then(resp => {
                        $('.alert').html('');
                        resp.forEach((err) => $('.alert').append(`<div>${err.code}</div>`));

                        $('.alert').removeClass('d-none');
                        $('.alert').removeClass('alert-success');
                        $('.alert').addClass('alert-danger').show();

                    });

                } else {

                    response.then(resp => {
                        console.log(resp);
                        $('.alert').html(resp);
                        $('.alert').removeClass('d-none');
                        $('.alert').removeClass('alert-danger');
                        $('.alert').addClass('alert-success');
                        $("input[name=name]").val('')

                    });
                }


            });
        return false;
    });

</script>


<footer>
    <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>